*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: rgb(255, 240, 240);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: rgb(72, 157, 36);
    text-decoration: none;
    font-weight: 600;
}
.navbar{
    display: inline-block;
    font-size: 25px;
    color: #981d1d;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}
.nav a:hover{
 
    color: rgb(6, 69, 69);
}

.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(wall.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}